<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.batch.mapper.ProductMapper">
    <insert id="insertProductBasic">
        INSERT IGNORE INTO webpos.products VALUE (#{asin}, #{title}, #{main_cat});
    </insert>

    <insert id="insertCategories">
        USE webpos;
        INSERT INTO category VALUES
        <foreach collection="categories" item="category" separator=",">
            (#{asin}, #{category})
        </foreach>;

    </insert>

    <insert id="insertImagesURLHighres">
        USE webpos;
        INSERT INTO image_url_highres VALUES
        <foreach collection="imagesURL" item="imageURL" separator=",">
            (#{asin}, #{imageURL})
        </foreach>;
    </insert>
</mapper>